.App {
  font-family: sans-serif;
}

.resultsContainer {
  margin-top: 30px;
  padding: 10px;
  border: 1px solid black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownItem {
  display: none;
  cursor: pointer;
  padding: 10px;
}

.dropdown:hover .dropdownItem {
  display: block;
}
